#about-section {
    display: flex;
}

#about-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    animation: fade-in 3s 5s forwards;
}

#logo-board {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fade-out 3s forwards;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
}

#about-content > h2 {
    font-size: 32px;
}

#about-content > h3 {
    font-size: 24px;
    margin-bottom: -10px;
}

#about-content > h3 > i {
    font-size: 20px;
}

#about-content > blockquote {
    font-size: 18px;
}

#about-content a {
    color: rgb(104, 152, 255);
    font-weight: bold;
}

#about-content a:hover {
    color: rgb(42, 110, 255);
}
  
#about-content a:active {
    color: rgb(0, 33, 105);
}
    