#operations-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

#operations-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  flex: 1;
  justify-content: flex-start;
}

#operations-button-container > button {
  background-color: #3f3f3f;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
}

#operations-button-container > button:hover {
  background-color: rgb(51, 116, 255);
}

#operations-button-container > button:active {
  background-color: rgb(0, 44, 138);
}


.operations-visualize-section table {
  width: 100%;
  border-collapse: collapse;
  border: 4px solid rgb(215, 215, 215);
}

.operations-visualize-section th,
.operations-visualize-section td {
  padding: 7px;
  border: 2px solid rgb(215, 215, 215);
}

.operations-visualize-section th {
  background-color: #4e4e4e;
  text-align: center;
  border: 4px solid rgb(215, 215, 215);
  font-size: 18px;
}

.operations-visualize-section th > span {
  margin: 3px;
}

.operations-visualize-section th:hover {
  background-color: #313131;
}

.operations-visualize-section tr {
  background-color: #4e4e4e;
}

.operations-visualize-section .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0 10px 0;
}

.operations-visualize-section .pagination-arrow {
  cursor: pointer;
  height: 50px;
  width: 50px;
  filter: brightness(100%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.operations-visualize-section .pagination-arrow:hover {
  filter: brightness(125%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.operations-visualize-section .pagination-arrow:active {
  filter: brightness(75%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.operations-visualize-section .pagination-arrow.disabled {
  cursor: not-allowed;
  filter: brightness(75%);
}

.operations-visualize-section .pagination .pagination-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.operations-visualize-section .pagination .pagination-numbers span {
  font-weight: bold;
}

.operations-visualize-section .pagination .pagination-numbers input {
  width: 75%;
  height: 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}