#toggles-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

#toggles-section > h2 {
  margin: 0;
  flex: 0 0 auto;
}

#toggles-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  flex: 1;
  justify-content: flex-start;
}

#toggles-upload-section {
  flex-basis: 100%;
  margin-top: 20px;
}

#toggles-local-section, #toggles-external-section {
  flex-basis: 100%;
  margin-top: 30px;
}


.toggles-toggle-button {
  width: fit-content;
  min-width: 150px;
  height: 50px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.5s;
}

.toggles-toggle-button:hover {
  background-color: #002955;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

.toggles-toggle-button:not(.active):hover {
  background-color: #004085;
}

.toggles-toggle-button.active {
  background-color: #0061c9;
}


#toggles-upload-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#toggles-upload-section > button {
  width: 140px;
  height: 40px;
  background-color: #3a3a3a;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(255, 255, 255, 0.37) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}


#toggles-upload-section > button:hover {
  background-color: #420097;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
}

#toggles-upload-section > button.active {
  background-color: #8528ff;
  color: white;
  border-color: #8528ff;
}

#toggles-upload-section > button.upload-button {
  width: 120px;
}


#toggles-upload-section > input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#toggles-upload-section > input :hover {
  border-color: #646cff;
}


#file-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 5px 0;
}

.file-item {
  display: inline-block;
  margin: 5px;
}

.file-name {
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s, opacity 1s ease-out;
  box-shadow: rgba(204, 204, 204, 0.404) 0px 3px 3px 0px;
}

.remove-icon {
  transition: color 0.5s;
}

.remove-icon.left {
  margin-right: 5px; 
}

.remove-icon.right {
  margin-left: 5px; 
}

.file-name:hover {
  background-color: #b42828;
}

.file-name:hover .remove-icon {
  color: #680c0c
}

.boom-effect {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #e74c3c;
  border-radius: 50%;
  animation: boomEffect 1s forwards;
  opacity: 0;
}

@keyframes boomEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(15);
    opacity: 0;
  }
}

.disappearing {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
}


#toggles-upload-section > .upload-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

#toggles-upload-section > .upload-button:disabled, #toggles-upload-section > .upload-button.success, .upload-button.error {
  box-shadow: rgba(255, 255, 255, 0.575) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#toggles-upload-section > .upload-button:disabled {
  height: 60px;
  background-color: #646464;
  cursor: not-allowed;
}

#toggles-upload-section > .upload-button.success {
  background-color: rgb(0, 184, 0);
  color: white;
}

#toggles-upload-section > .upload-button.error {
  background-color: rgb(190, 0, 0);
  color: white;
}

#toggles-upload-section > .upload-button.success:hover {
  background-color: rgb(0, 112, 0);
}

#toggles-upload-section > .upload-button.error:hover {
  background-color: rgb(121, 0, 0);
}

.loader {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-width: 2px 1.5px 2px 1.5px;
  border-style: solid dotted solid dotted;
  border-color: #007bff rgba(255, 255, 255, 0.3) #fff rgba(0, 123, 255, 0.3); /* Blue and white */
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
  overflow: hidden;
}

.loader:before, .loader:after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  transform: translate(-8px, 15px) rotate(-35deg);
}

.loader:after {
  border-color: #007bff #0000 #0000 #0000;
  transform: translate(24px, 2px) rotate(-35deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}



#toggles-local-section {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.input-with-icon {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
}

.input-with-icon > input {
  padding: 10px 55px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: bold;
  width: auto;
}

.input-with-icon > .search-image {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  pointer-events: none;
  filter: invert(100%);
}

#toggles-local-section > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 10px;
  z-index: 100;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content;
  min-width: 200px;
  max-width: calc(100% - 25px);
  height: 200px;
  min-height: 55px;
  max-height: fit-content;
  overflow-y: auto;
  overflow-x: auto;
  resize: both;
}

#toggles-local-section > ul.scrollable::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #ffffff00;
}

#toggles-local-section > ul.scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px gray;
  border-radius: 20px;
  background-color: #fff;
}

#toggles-local-section > ul.scrollable::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(170, 170, 170);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#toggles-local-section > ul.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgb(119, 119, 119);
  box-shadow: inset 0 0 6px rgba(110, 110, 110, 0.5);
}


#toggles-local-section > ul.scrollable::-webkit-scrollbar-thumb:active {
  background: rgb(78, 78, 78);
  box-shadow: inset 0 0 6px rgba(172, 172, 172, 0.5);
}


#toggles-local-section > ul.scrollable::-webkit-scrollbar-corner {
  background-color: #585858;
  border-radius: 0 10px 10px 15px;
  border: none solid;
}

#toggles-local-section > ul > li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  color: #1a1a1a;
  font: 20px/28px sans-serif;
  border-bottom: 2px solid #8f8f8f;
}

#toggles-local-section > ul > li:last-child {
  border-bottom: none;
}

#toggles-local-section > ul > li:hover {
  background-color: #d6d6d6;
}

#toggles-local-section > ul > li:hover:first-child {
  border-radius: 10px 0 0 0;
}

#toggles-local-section > ul > li:hover:last-child {
  border-radius: 0 0 0 10px;
}

#toggles-local-section > ul > li:hover:only-child {
  border-radius: 10px;
}

.no-results {
  color: #666;
  font-style: italic;
  cursor: default;
  pointer-events: none;
}

#toggles-external-section .external-select {
  width: fit-content;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

#toggles-external-section .external-select:nth-child(1) {
  min-width: 350px;
}

#toggles-external-section .external-select:nth-child(2) {
  min-width: 200px;
}
#toggles-external-section .external-select:nth-child(3) {
  min-width: 150px;
}

#toggles-external-section textarea {
  font-size: 16px;
  width: 500px;
  min-width: 100px;
  height: 250px;
  min-height: 50px;
  resize: none;
  margin-bottom: 25px;
  resize: both;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(in oklab, #a5a5a5, #dadada, #7e7e7e);
}


